* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgba(255, 255, 255, .8);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

input {
    color:#191919;
}

button {
    background-color:#d6d6d6;
    color:#191919;
    font-size:18px;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(0, 0, 0, 1);
}

/*.char-title {
    position: absolute;
    top: 0;
    right: 50vm;
    padding: 0;
}*/

.flexbox-container {
    display: flex;
    justify-content: space-between;
}

.flexbox-item {
    background-color: #333;
    border: 1px dashed #CF1D0C;
    margin: 10px;
}

.skills {
    min-width: 250;
    flex-shrink: 0;
    flex-grow: 1;
}

.char-main {
    min-width: 550;
    flex-grow: 3;
}

.items {
    min-width: 300;
    flex-shrink: 0;
    flex-grow: 1;
}

.encounter-characters {
    min-width: 300;
    flex-shrink: 0;
    flex-grow: 1;
}
.monster-encounter-container {
    flex-grow: 3;
}

.char-table {
    align-items: center;
}

.table-cont {
    border-bottom: 1px solid white;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

.notes {
    height: 200px;
    overflow: auto;
}


.gradient {
    background: linear-gradient(10deg, #A73335, white);
    height:5px;
    margin:7px 0px;
}
.name {
    font-size:225%;
    font-family:Georgia, serif;
    font-variant:small-caps;
    font-weight:bold;
    color:#A73335;
}
.description {
    font-style:italic;    
}
.bold {
    font-weight:bold;
}
.red {
    color:#A73335;
}
.monster table {
    width:100%;
    border:0px;
    border-collapse:collapse;
    color:#A73335;
}
.monster th, td {
    width:50px;
    text-align:center;
}
.actions {
    font-size:175%;
    font-variant:small-caps;
    margin:17px 0px 0px 0px;
}
.hr {
    background: #A73335;
    height:2px;
}
.attack {
    margin:5px 0px;
}
.attackname {
    font-weight:bold;
    font-style:italic;
}


.char-row {
   text-align: center;
}
.char-row input {
    width: 5%;
}