{% extends "layout.html" %}

{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Oops</title>
{% endblock head %}

{% block body %}
<div class="jumbotron">
    <div class="well">
        <div class="row">
            <div class="col-md-6 col-md-offset-2"> {# col-md-offset-4">#}
                 <h2> Congratulations!  You've just found a bug! </h2>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
