{% extends "layout.html" %}
{% set active_page = "char" %}
{% from 'charMacros.html' import abilCards %}

{% block head %}

 <link href="../static/css/bootstrap.min.css" rel="stylesheet">

{% endblock head %}


{% block body %}

<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/dbForms.js"></script>

<script type="text/javascript">

  const char_name = "{{char["name"]}}"

  function updateHP(){

    let curr_hp = document.getElementById("hpInput").value;

    charUpdate({{char["id"]}}, 'hp', curr_hp);
  }

  function handleHPclick(evt) {
    var node = evt.target;

    if (node.value == 'hp_p') {
    updateHP(1);
    }
    else if (node.value == 'hp_m') {
    updateHP(-1);
    }
  }

  function addItem(item){

    if (item.length > 1) {
      item = item[0]
    }

    const form2 = document.createElement('form');
    form2.method = "post";
    form2.action = "/character/".concat(char_name, ".html");

    const hiddenField2 = document.createElement('input');
    hiddenField2.type = 'hidden';
    hiddenField2.name = "item";
    hiddenField2.value = item.name;
    form2.appendChild(hiddenField2);

    const hiddenField3 = document.createElement('input');
    hiddenField3.type = 'hidden';
    hiddenField3.name = "weight";
    hiddenField3.value = item.weight;
    form2.appendChild(hiddenField3);

    const hiddenField4 = document.createElement('input');
    hiddenField4.type = 'hidden';
    hiddenField4.name = "count";
    hiddenField4.value = 1;
    form2.appendChild(hiddenField4);

    const hiddenField5 = document.createElement('input');
    hiddenField5.type = 'hidden';
    hiddenField5.name = "description";
    if (item.desc) {
      hiddenField5.value = item.desc;
    }
    else {
      hiddenField5.value = "";
    }
    form2.appendChild(hiddenField5);

    const hiddenField6 = document.createElement('input');
    hiddenField6.type = 'hidden';
    hiddenField6.name = "damage";
    if (item.equipment_category == "Weapon") {
      hiddenField6.value = item.damage.damage_dice;
    }
    else {
      hiddenField6.value = null;
    }

    form2.appendChild(hiddenField6);

    document.body.appendChild(form2);
    form2.submit();
  }

  function checkItem() {
    item_name = document.getElementById("itemForm").value;
    dndQuery("equipment", item_name, addItem);
  }

  function updatePurse(nom) {
    val = document.getElementById(nom+"Purse").value;
    purseUpdate({{char["id"]}}, nom, val);
  }

  function deleteItem(item){

    console.log("delete!! ", item)

    var form2 = document.createElement('form');
    form2.method = "post";
    form2.action = "/character/".concat(char_name, ".html");

    var hiddenField2 = document.createElement('input');
    hiddenField2.type = 'hidden';
    hiddenField2.name = "deleteItem";
    hiddenField2.value = item;
    form2.appendChild(hiddenField2);

    document.body.appendChild(form2);
    form2.submit();
  }

  function updateItem(item) {
    cnt = document.getElementById(item+"Item").value;
    if(cnt < 1){
      var forReal = confirm("Are you sure you want to delete" + item + "?")
        if (forReal) {
            deleteItem(item);
        }
    }
    else{
      itemUpdateCnt({{char["id"]}}, item, cnt);  
    }
  }


</script>

<!-- <h1 class="char-title">Character info for {{char.name}} </h1> -->

<div class="container bg-transparent">
  <div class="row gy-5">
    <div class="col-md-6">
      {{abilCards(abils)}}
    </div>
    <div class="col-md-6">
      <div class="card-group">
        <div class="card bg-transparent text-center p-1" style="width: 2rem;">
          <div class="card-body border border-danger rounded-3">
            <h6 class="card-title">Armor</h5>
            <h2 class="card-text">{{char["ac"]}}</h2>
            <h6 class="card-title">Class</h5>
          </div>
        </div>
        <div class="card bg-transparent text-center p-1" style="width: 4rem;">
          <div class="card-body border border-danger rounded-3">
            <h6 class="card-title">HP</h5>
            <h2 class="card-text">
              <input type="text" value="{{char["hp"]}}" onchange="updateHP();" id="hpInput" style="width: 4rem;">
              /<b>{{char["max_hp"]}}</b></h2>
          </div>
        </div>
        <div class="card bg-transparent text-center p-1" style="width: 7rem;">
          <div class="card-body border border-danger rounded-3">
            <h6 class="card-title">Initiative</h5>
            <h2 class="card-text">+{{char["iniative"]}}</h2>
          </div>
        </div>
        <div class="card bg-transparent text-center p-1" style="width: 8rem;">
          <div class="card-body border border-danger rounded-3">
            <h6 class="card-title">Proficiency</h5>
            <h2 class="card-text">+{{char["proficiency"]}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <table class="table table-borderless border border-danger rounded-3">
        <tbody>
          {% for c in purse %}
            <tr>
              <td style="text-align:left">{{c["coin"]}}</td>
              <td style="text-align:left;">
              <input type="text" value="{{c["val"]}}" onchange="updatePurse('{{c["coin"]}}');" id="{{c["coin"]}}Purse" style="width: 3rem;">
              </td>
              <!-- <td style="width: 2px;"></td> -->
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <div class="border border-danger rounded-3">
        <table class="table table-borderless">
          <tbody>
          {% for s in skills %}
            <tr {% if s["proficient"]%} class="bg-danger"{% endif %}>
              <td style="width: 2px;"></td>
              <td style="text-align:left">{{s["name"].replace("_", " ")}}</td>
              <td style="text-align:right;"><b>{{s["score"]}}</b></td>
              <td style="width: 2px;"></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="col-md-auto">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#weapons" type="button" role="tab" aria-controls="weapons" aria-selected="true">Weapons</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="items-tab" data-bs-toggle="tab" data-bs-target="#items" type="button" role="tab" aria-controls="items" aria-selected="false">Items</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button" role="tab" aria-controls="notes" aria-selected="false">Notes</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="weapons" role="tabpanel" aria-labelledby="weapons-tab">
          <h5>Weapons</h5>
          <table>
            <!-- <th>items</th><th>cnt</th><th>weight</th> -->
            {% for w in weapons %}
            <tr>
            <td align="center"><b>{{w.name}}</b></td>
            <td align="left"><b>+{{char["atk_mod"]}}</b></td>
            <td align="left"><b>{{w.damage}}</b></td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
          <table>
            <th>items</th><th>cnt</th><th>weight</th>
            {% for i in items %}
            <tr>
            <td align="center"><b>{{i.name}}</b></td>
            <td align="left">
              <input type="text" value="{{i.count}}" onchange="updateItem('{{i.name}}');" id="{{i.name}}Item" style="width: 2rem;">
            </td>
            <td align="left"><b>{{i.weight}}</b></td>
            <td align="center">
              <button type="button" class="btn btn-danger btn-sm"  onclick="deleteItem('{{i.name}}');">x</button>
            </td>
            </tr>
            {% endfor %}
          </table>
          <div>
            <p>Item:<input type="text" id="itemForm" name="item" class="input-field">
              <button type="button" onclick="checkItem();" class="btn btn-danger">Add</button>
          </div>
        </div>
        <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
          <div class="table-cont notes"> 
            {% for title in notes.keys() %}
            <h4>{{title}}</h4>
            <p>{{notes[title]}} </p>
            {% endfor %}
          </div>
          <form action="{{ '/character/%s.html'%char["name"] }}" method="post" class="create-post">
          <div class="form-group">
            <label for="exampleFormControlInput1">Note Title:</label>
            <input type="text" class="form-control" name="title" placeholder="that guy was weird">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Text:</label>
            <textarea class="form-control" name="text" rows="5"></textarea>
          </div>
          <p><input type="submit" value="Post" class="btn"></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}