{% extends "layout.html" %}
{% set active_page = "char" %}
{% block head %}

{% endblock head %}


{% block body %}

<script type="text/javascript">

function updateHP(delta, name){

    const form = document.createElement('form');
    form.method = "post";
    form.action = "/character/".concat(name, ".html");


    const hiddenField = document.createElement('input');
    hiddenField.type = 'hidden';
    hiddenField.name = "hp";
    hiddenField.value = delta;
    form.appendChild(hiddenField);
    
    document.body.appendChild(form);
    form.submit();
}

function handleClick(evt) {
  var node = evt.target;

  if (node.value == 'hp_p') {
    updateHP(1, node.name);
  }
  else if (node.value == 'hp_m') {
    updateHP(-1, node.name);
  }
}

</script>

<div class="row">
    <div align=center>IDK character info? up here??</div>
    <div align=center>
        <div class="col-md-3">
            <div class="well">
                <table class="table">
                <tr> <th> </th> <th align="center"> score </th> 
                    <th align="center"> modifier </th> </tr>
                {% for key in abils.keys() %}
                <tr>
                <td align="right"><b>{{key}}</b></td>
                <td align="center"><b>{{abils[key]}}</b></td>
                <td align="center"><b>{{mods[key]}}</b></td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div> 
        <div class="col-md-5">
        <h1>Character info for {{char.name}} </h1>
        <table class="table" onclick="handleClick(event);" style="font-size:150%;">
            <col width="50">
            <col width="50">
            <col width="20">
            <col width="100">
            <col width="80">
            <tr>
            <td align="center"><b>AC</b></th>
            <td align="center"><b>HP</b></th>
            <td align="center">
                <button type="button" name="{{char["name"]}}" value="hp_p"
                        style="background-color:#d6d6d6;
                            color:#191919;
                            font-size:18px;">+</button>
            </th>
            <td align="center"><b>Initiative</b></th>
            <td align="center"><b>Speed</b></th>
            </tr>
            <tr>
            <td align="center"><b>{{char["ac"]}}</b></td>
            <td align="center"><b>{{char["hp"]}}</b></td>
                <td align="center">
                <button type="button" name="{{char["name"]}}" value="hp_m"
                        style="background-color:#d6d6d6;
                            color:#191919;
                            font-size:18px;">-</button>
            </th>
            <td align="center"><b>{{char["iniative"]}}</b></td>
            <td align="center"><b>{{char["speed"]}}</b></td>
            </tr>
        </table>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

{% endblock body %}