{% extends "layout.html" %}
{% set active_page = "char" %}
{% block head %}

{% endblock head %}


{% block body %}

<script type="text/javascript">

function updateHP(delta, name){

    const form = document.createElement('form');
    form.method = "post";
    form.action = "/character/".concat(name, ".html");


    const hiddenField = document.createElement('input');
    hiddenField.type = 'hidden';
    hiddenField.name = "hp";
    hiddenField.value = delta;
    form.appendChild(hiddenField);
    
    document.body.appendChild(form);
    form.submit();
}

function handleClick(evt) {
  var node = evt.target;

  if (node.value == 'hp_p') {
    updateHP(1, node.name);
  }
  else if (node.value == 'hp_m') {
    updateHP(-1, node.name);
  }
}

j_abils = {{abils | tojson}}
j_purse = {{purse | tojson}}
</script>

<div class="row">
    <div align=center>IDK character info? up here??</div>
    <div align=center>
        <div class="col-md-3">
            <div class="well" id="abil_table">
                
            </div>
            <div class="col-md-5">
                <div class="well" style="height:320px;" id="purse_table">
                </div>
            </div>
            <div class="col-md-6">
                <div class="well" style="height:280px;overflow:auto;">
                <table class="table">
                    <th>items</th><th>cnt</th><th>weight</th>
                    {% for i in items %}
                    <tr>
                    <td align="center"><b>{{i.item}}</b></td>
                    <td align="left"><b>{{i.count}}</b></td>
                    <td align="left"><b>{{i.weight}}</b></td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div> 
        <div class="col-md-5">
        <h1>Character info for {{char.name}} </h1>
        <table class="table" onclick="handleClick(event);" style="font-size:150%;">
            <col width="40">
            <col width="40">
            <col width="20">
            <col width="60">
            <col width="60">
            <col width="60">
            <col width="100">
            <tr>
            <td align="center"><b>AC</b></th>
            <td align="center"><b>HP</b></th>
            <td align="center">
                <button type="button" name="{{char["name"]}}" value="hp_p"
                        style="background-color:#d6d6d6;
                            color:#191919;
                            font-size:18px;">+</button>
            </th>
            <td align="center"><b>Initiative</b></th>
            <td align="center"><b>Speed</b></th>
            <td align="center"><b>Proficiency</b></th>
            <td align="center"><b>cap.</b> {{char["strength"]*15}} lbs</th>
            </tr>
            <tr>
            <td align="center"><b>{{char["ac"]}}</b></td>
            <td align="center"><b>{{char["hp"]}}</b></td>
                <td align="center">
                <button type="button" name="{{char["name"]}}" value="hp_m"
                        style="background-color:#d6d6d6;
                            color:#191919;
                            font-size:18px;">-</button>
            </th>
            <td align="center"><b>{{char["iniative"]}}</b></td>
            <td align="center"><b>{{char["speed"]}}</b></td>
            <td align="center"><b>{{char["proficiency"]}}</b></td>
            <td align="center"><b>gear</b> {{char["gear_lbs"]}} lbs</td>
            </tr>
        </table>
        <div class="well" style="height:200px;overflow:auto;"> 
            {% for title in notes.keys() %}
            <h4>{{title}}</h4>
            <p>{{notes[title]}} </p>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-4">
                <form action="{{ '/character/%s.html'%char["name"] }}" method="post" class="create-post">
                <p>Note Title:<input type="text" size="30" name="title" style="color:#191919;"></p>
                <p>Text:<textarea name="text" rows="5" cols="30" style="color:#191919;"></textarea></p>
                <p><input type="submit" value="Post" style="color:#191919;"></p>
                </form>
            </div>
            <div class="col-md-4">
                <form action="{{ '/character/%s.html'%char["name"] }}" method="post">
                <p>Item:<input type="text" size="30" name="item" style="color:#191919;"></p>
                <p>Weight:<input type="text" size="5" name="weight" value="0" style="color:#191919;">
                Cnt:<input type="text" size="5" name="count" value="1" style="color:#191919;"></p>
                <p>Description:<textarea name="description" rows="2" cols="30" style="color:#191919;"></textarea></p>
                <p>Damage:<input type="text" size="5" name="damage" style="color:#191919;">
                    <input type="submit" value="Add" style="color:#191919;"></p>
                </form>
            </div>
            <div class="col-md-4">
                <div class="well">
                <h5>Weapons</h5>
                <table class="table">
                    <!-- <th>items</th><th>cnt</th><th>weight</th> -->
                    {% for w in weapons %}
                    <tr>
                    <td align="center"><b>{{w.item}}</b></td>
                    <td align="left"><b>+{{char["atk_mod"]}}</b></td>
                    <td align="left"><b>{{w.damage}}</b></td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
        
        </div>
        <div class="col-md-2">
            <div class="well">
                <table class="table">
                {% for key in skills.keys() %}
                <tr>
                <td align="right"><b>{{key.replace("_", " ")}}</b></td>
                <td align="center"><b>{{skills[key]}}</b></td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div> 
    </div>
</div>

<script src="../static/js/table.js" type="text/babel"> </script>
<!-- 
<script type="text/babel">
const tab = <table> 
tab += <tr> <td> boobs </td> </tr> </table>

const domContainer = document.getElementById('abil_table');
ReactDOM.render(tab, domContainer);
</script>
 -->

{% endblock body %}