{% set active_page = "index" %}
{% extends "layout.html" %}

{% block head %}
  <title>Encounters</title>
{% endblock head %}

{% block body %}

<script type="text/javascript">
    function removeEncounter(id){

        var form = document.createElement('form');
        form.method = "post";
        form.action = "/encounters.html";

        var hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = "removeID";
        hiddenField.value = id;
        form.appendChild(hiddenField);
        
        document.body.appendChild(form);
        form.submit();
    }

</script>


<div class=well>
    <div class=row>
        <div align=center><h1>Saved Encounters</h1></div>
        {% for c in encounters %}
        <p><button onClick=removeEncounter({{c.id}}) class="btn">x</button> 
           <a href="{{ '/encounter/%s.html'%c.title }}">{{c.title}}</a></p>
        {% endfor %}
    </div>
</div>

<h4>Create new encounter</h4>
<form method=post>
  <input type=text name=encounter class="input-field">
  <input type=submit value=Create class="btn">
</form>

{% endblock body %}
