{% extends "layout.html" %}
{% set active_page = "char" %}
{% block head %}


{% endblock head %}


{% block body %}



<script type="text/javascript">
    enc_chars = {{characters | tojson}}
</script>



<div class="flexbox-container">
    <div class="flexbox-item encounter-characters" id="encounter-characters">

    </div>

    <div class="flexbox-item monster-encounter-container" id="monster-encounter-container">

    </div>
</div>

<script src="../static/js/encounter.js"  type="text/babel"> </script>

{% endblock body %}