{% extends "layout.html" %}
{% set active_page = "char" %}
{% block head %}


{% endblock head %}


{% block body %}



<script type="text/javascript">
    enc_chars = {{characters | tojson}}
    enc_monsters = {{monsters | tojson}}

    
</script>

<script async src="../static/js/encounter.js"  type="text/babel"> </script>

<h3><a href="/combat/{{encounter_name}}.html">Go To Map</a></h3>
<div class="flexbox-container">
    <div class="flexbox-item encounter-characters">
        <div class="combat-name-hp-init" id="encounter-characters">
            
        </div>
        <!-- <div class="gradient"></div> -->
        <div class="form">
            <p>Add monster:<input type="text" id="addEncMonster" name="monster" class="input-field">
                    <input type="submit" onclick="checkEncMonster();" value="Add" class="btn"></p>
        </div>
        <form method=post enctype=multipart/form-data>
          <label for="img">Upload a monster (JSON):</label>
          <input type="file" id ="localMonster" name="localMonster" accept="application/JSON" class="input-field">
          <input type="submit" value="Upload" class="btn">
        </form>
        <div class="combat-name-hp-init" id="encounter-monsters">
            
        </div>

    </div>

    <div class="flexbox-item monster-encounter-container" id="monster-encounter-container">

    </div>
</div>



{% endblock body %}