{% extends "layout.html" %}
{% set active_page = "char" %}
{% block head %}


{% endblock head %}


{% block body %}



<script type="text/javascript">
    enc_chars = {{characters | tojson}}
    enc_monsters = {{monsters | tojson}}

    function convertSize(size) {
        // relative to 5ft gridsize
        if (size.toLowerCase() == "tiny") {
            return 0.5
        }
        else if (size.toLowerCase() == "large") {
            return 2
        }
        else if (size.toLowerCase() == "huge") {
            return 3
        }
        else if (size.toLowerCase() == "gargantuan") {
            return 4
        }
        // either small or medium
        else {
            return 1
        }
    }

    function addMonster(name, mon){

        let hp = mon.hit_points;
        try {
            let size = convertSize(mon.size);
        }
        catch {
            let size = null;
        }

        if (!Number.isInteger(hp)) {
            let manual = addManualMonster(name);
            hp = manual[0];
            size = manual[1];
        }

        if(hp === null){
          return null;
        }

        const form2 = document.createElement('form');
        form2.method = "post";

        const hiddenField3 = document.createElement('input');
        hiddenField3.type = 'hidden';
        hiddenField3.name = "monster_name";
        hiddenField3.value = name;
        form2.appendChild(hiddenField3);

        const hiddenField4 = document.createElement('input');
        hiddenField4.type = 'hidden';
        hiddenField4.name = "monster_hp";
        hiddenField4.value = hp;
        form2.appendChild(hiddenField4);

        const hiddenField5 = document.createElement('input');
        hiddenField5.type = 'hidden';
        hiddenField5.name = "monster_size";
        hiddenField5.value = size;
        form2.appendChild(hiddenField5);
        
        document.body.appendChild(form2);
        form2.submit();
    }

    function addManualMonster(name){
        let hp = prompt(name + " doesn't exist; enter hp to add manually or nothing to cancel");
        if(hp === null){
          return null, null;
        }
        else if(Number.isNaN(parseInt(hp))){
          return null, null;
        }
        else{
            let size = prompt("please enter size (Tiny/Medium/Large/Huge/Gargantuan)");
          return [parseInt(hp), convertSize(size)];
        }
    }

    function fetchMonster(name) {
        return fetch('http://localhost:3000/api/monsters' + '/' + name)
        .then((response) => response.json())
        .then((mon) => {
            addMonster(name, mon);
            drawTab(mon);
       })
       .catch((error) => {
         console.log(error);
        });
    }

    function checkEncMonster(){
      let monster_name = document.getElementById("addEncMonster").value;
      fetchMonster(monster_name);
    }
</script>

<h3><a href="/combat/{{encounter_name}}.html">Go To Map</a></h3>
<div class="flexbox-container">
    <div class="flexbox-item encounter-characters">
        <div class="combat-name-hp-init" id="encounter-characters">
            
        </div>
        <div class="gradient"></div>
        <div class="form">
            <p>Add monster:<input type="text" id="addEncMonster" name="monster" class="input-field">
                    <input type="submit" onclick="checkEncMonster();" value="Add" class="btn"></p>
        </div>
        <div class="combat-name-hp-init" id="encounter-monsters">
            
        </div>

    </div>

    <div class="flexbox-item monster-encounter-container" id="monster-encounter-container">

    </div>
</div>

<script src="../static/js/encounter.js"  type="text/babel"> </script>

{% endblock body %}