{% set active_page = "index" %}
{% extends "layout.html" %}

{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>DND</title>
  <meta http-equiv="refresh" CONTENT="600"/>
{% endblock head %}

{% block body %}

<div class=well>
    <div class=row>
        <div align=center><h1>Current characters</h1></div>
        {% for c in characters %}
        <a href="{{ '/character/%s.html'%c.name }}">{{c.name}} <br></a>
        {% endfor %}
    </div>
</div>


<h2>Upload a new character, or overwrite an existing one</h2>
<h4>Expects formatted yaml file </h4>
<form method=post enctype=multipart/form-data>
  <input type=file name=char class="input-field">
  <input type=submit value=Upload class="btn">
</form>

{% endblock body %}
