<!DOCTYPE html>
{% set active_page = active_page|default('index') -%}
<html lang="en">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<head>
    <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
    {% block head %}{% endblock head%}
</head>


<body>
{# include bootstrap and jquery #}
<script src="../static/js/jquery-1.11.0.min.js"></script>
<script src="../static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/react.development.js"></script>
<script src="../static/js/react-dom.development.js"></script>
<script src="../static/js/babel.js"></script>
<script src="../static/js/dndQuery.js"></script>
{% include 'header.html' %}

<div id="content">
    {% if errorMsg %}
    <div>
        <div>
            <p><strong><font color="red">ERROR:</font> </strong> {{ errorMsg }} </p>
        </div>
    </div>
    {% endif %}
  {% block body %}{%endblock body %}
</div>

{# could add a footer here if wanted #}

{% include 'footer.html' %}
</body>
</html>
