{% extends "layout.html" %}
{% set active_page = "monster" %}

{% block head %}


{% endblock head %}


{% block body %}

<script type="text/javascript">
    {% if monsterName %}
        checkMonster();
    {% endif %}

</script>

<!-- Many thanks for source material:
    http://jsfiddle.net/basmith7/Z2sQK/ -->

<div>
    <p>Monster:<input type="text" id="monsterForm" name="monster" value="{{monsterName}}" class="input-field">
               <input type="submit" onclick="checkMonster();" value="Add" class="btn"></p>
</div>

<div class="monster-container" id="all-monsters">

</div>


{% endblock body %}